.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 24px;
    padding-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
}

.select-decimal {
    width: fit-content;
    height: auto;
}

.required::after {
    content: "*";
    color: red;
    margin-left: 5px;
}